:host {
    width: 20%;
    max-width: 224px;

    .lateral-menu {
        height: 100vh;
        background: var(--bs-gray-900);

        section>i {
            font-size: 40px;
            padding: 14px;
            background: #fff;
            border-radius: 10px;
        }

        .sign-off {
            width: 100%;
        }

        .nick-name {
            color: var(--bs-gray-200);
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #00062b;
            border-radius: 35px;
        }
    }
}