@import '../../../../assets/css/brakepoints.scss';

:host {
    width: 23%;
    max-width: 224px;

    .lateral-menu {
        height: 100vh;
        background: var(--bs-gray-900);

        img {
            max-width: 70%;
            margin-bottom: 25px;
            border-radius: 50%;
        }

        .lang-label {
            padding: 0 0 10px;

            @include applyMax(sm) {
                padding: 5px;
                font-size: $font-icons-sm;
            }

            span {
                margin-right: 7px;

                @include applyMax(sm) {
                    display: none;
                }
            }
        }

        label {
            @include applyMax(sm) {
                display: none;
            }
        }

        h6 {
            display: none;
            padding: 10px 0;

            @include applyMax(sm) {
                display: block;
            }
        }

        section>i {
            font-size: 40px;
            padding: 14px;
            background: #fff;
            border-radius: 10px;

            @include applyMax(sm) {
                font-size: $font-icons-sm;
            }
        }

        .sign-off {
            width: 100%;

            @include applyMax(sm) {

                font-size: $font-icons-sm;
                height: 50px;
            }

            i {
                @include applyMax(sm) {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 !important;
                }
            }

        }

        .nick-name {
            color: var(--bs-gray-200);
            min-width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #00062b;
            border-radius: 35px;

            @include applyMax(sm) {
                min-width: 50px;
                height: 50px;
                font-size: $font-icons-sm;
                font-weight: 400;
            }
        }
    }
}