<nav class="d-flex flex-column justify-content-between lateral-menu p-md-4">
    <section class="align-content-center align-items-center d-flex flex-column header-menu text-dark">
        <i class="icon-stats-dots"></i>
        <label class="text-bg-dark py-md-2 text-center"> {{'welcome-ipc' | translate}}</label>
        <div>
            <hr>

        </div>
        <section>

        </section>

        <ul>
            <li>

            </li>
        </ul>
    </section>

    <button class="btn btn-light sign-off text-center w-100">
        <i class="icon-exit pe-1"></i>{{'menu-lateral.close-session' | translate}}
    </button>




</nav>