<nav class="d-flex flex-column justify-content-between lateral-menu p-4">
    <section class="align-content-center align-items-center d-flex flex-column header-menu text-dark">
        <i class="icon-stats-dots"></i>
        <label class="text-bg-dark py-md-2 text-center"> {{'welcome-ipc' | translate}}</label>
        <h6 class="text-bg-dark py-md-2 text-center">{{'welcome' | translate}}</h6>

        <img src="{{additionalInfo.picture}}" alt="">

        <section class="border-bottom border-top d-flex pb-3 pt-3 w-100 align-items-center justify-content-center">
            <label class="nick-name text-uppercase">
                {{nick}}
            </label>
            <label class="text-white px-sm-2 text-capitalize">{{user}}</label>

        </section>

        <section class="m-3 w-100">
            <label class="lang-label d-block text-center text-white" for="language">
                <span>{{'select-language' | translate}}</span> <i class="icon-file-text2"></i> </label>
            <select class="form-select" #langSelect (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                    [selected]="lang === translate.currentLang">{{ lang | translate
                    }}</option>
            </select>
        </section>
    </section>

    <button class="btn btn-light sign-off text-center w-100" (click)="closeSession()">
        <i class="icon-exit pe-1"></i><label>{{'menu-lateral.close-session' | translate}}</label>
    </button>
</nav>